input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

p {
	font-size: calc(9px + 0.8vmin);
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h1 {
	font-size: calc(12.5px + 2vmin);
}

.App {
	height: 100vh;
	max-height: -webkit-fill-available;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	text-align: center;
	color: #000000;
}

.App-logo {
	height: 30vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.Label {
	font-weight: 500;
	font-size: calc(12px + 1vmin);
}

.Input {
	background-color: #f5fff5;
	box-shadow: 0;
	border-radius: 0;
	border-style: solid;
	-webkit-appearance: none;
	color: #000000;
	width: calc(300px + 2.5vmin);
	height: 40px;
	border-color: #000000;
	border-width: 3px;
	font-size: calc(10px + 1.2vmin);
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
	margin: 10px;
}

.Button {
	background-color: #f5fff5;
	-webkit-appearance: none;
	border-color: #000000;
	border-width: 3px;
	padding: 15px 30px 15px 30px;
	font-size: calc(10px + 1.2vmin);
	font-weight: bold;
}

.Button:hover {
	background-color: #000000;
	color: #f5fff5;
}

.Error {
	color: #f77777;
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
